*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 400px;
    height: 200px;
    background-color: #4287f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.title{
    font-size: 24px;
    color: white;
}

.desc{
    font-size: 20px;
    color: white;

}

.period{
    font-size: 20px;
    color: white;

}