<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="about_me_style.css">
</head>
<body>
    <div th:replace="~{fragments/header.html}"/>

    <section>
        <div>
            <p>Mani sauc Edvards Mozga, un es pašlaik mācos par programmēšanas tehniķi Rīgas Valsts tehnikumā. Es specializējos API izstrādē, izmantojot TypeScript – prasme, kas man īpaši labi padodas un aizrauj. Visvairāk man patīk programmēšanā tas, ka ar kodu varu realizēt jebkuru ideju, ko vēlos. Lai gan visvairāk man patīk strādāt pie mājaslapu un lietotņu backend izstrādes, es varu arī veidot frontend risinājumus, ja tas ir nepieciešams.

                Kad nedarbojos ar programmēšanu, man patīk dejot un spēlēt volejbolu – tās ir aktivitātes, kas palīdz man saglabāt līdzsvaru un enerģiju. Es esmu apņēmības pilns turpināt pilnveidot savas prasmes un īstenot inovatīvas idejas dzīvē.</p>

        </div>
    </section>
</body>
</html>