<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h2>Create path</h2>
    <form th:action="@{/admin/createRoute}" th:object="${route}" method="post">
        <input placeholder="name" th:field="*{name}"/>
        <br/>
        <input placeholder="path" th:field="*{path}"/>
        <br/>
        <input type="submit" content="add"/>
    </form>

    <h2>All routes</h2>
    <ul th:each="route: ${routes}">
        <li th:text="${route.name + '   ' + route.path + '   ' + route.id}"></li>
    </ul>

    <h2>Remove route</h2>
    <form th:action="@{/admin/removeRoute}" th:object="${removedRoute}" method="post">
        <input placeholder="id" th:field="*{id}"/>
        <br/>
        <input type="submit" content="remove"/>
    </form>

    <h2>Add skill</h2>
    <form th:action="@{/admin/createSkill}" th:method="post" th:object="${skill}">
        <input placeholder="title" th:field="*{title}"/>
        <br/>
        <input placeholder="description" th:field="*{description}"/>
        <br/>
        <input placeholder="period" th:field="*{period}"/>
        <br/>
        <input placeholder="level" th:field="*{level}"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>

    <h2>All skills</h2>
    <ul th:each="skill: ${skills}">
        <li th:text="${skill.title + '   ' + skill.description + '   ' + skill.period + '    ' + skill.level + '   ' + skill.id}"></li>
    </ul>

    <h2>Remove skill</h2>
    <form th:action="@{/admin/removeSkill}" th:object="${removedSkill}" method="post">
        <input placeholder="id" th:field="*{id}"/>
        <br/>
        <input type="submit" content="remove"/>
    </form>


    <h2>All experiences</h2>
    <ul th:each="exp: ${experiences}">
        <li th:text="${exp.title + '   ' + exp.description + '   ' + exp.period + '   ' + exp.id}"></li>
    </ul>

    <h2>Add experience</h2>
    <form th:action="@{/admin/addExperience}" th:method="post" th:object="${exp}">
        <input placeholder="title" th:field="*{title}"/>
        <br/>
        <input placeholder="description" th:field="*{description}"/>
        <br/>
        <input placeholder="period" th:field="*{period}"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>


    <h2>Remove experience</h2>
    <form th:action="@{/admin/removeExperience}" th:object="${removedExp}" method="post">
        <input placeholder="id" th:field="*{id}"/>
        <br/>
        <input type="submit" content="remove"/>
    </form>

</body>
</html>