<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div th:replace="~{fragments/header.html}"/>

    <section>
        <div>
            <div th:class="intro">
                <div>
                    <h1>Sveiki, es esmu Edvards!</h1>
                    <h4>Programmētājs</h4>
                </div>
                <span>Es esmu programmēšanas students Rīgas Valsts Tehnikumā</span>
            </div>
            <div th:class="nav"></div>
        </div>
        <div>
            <div th:class="picture">

            </div>
        </div>
    </section>
</body>
</html>